{% extends "class.html" %}

{% block calss_title %}
    Create Test
{% endblock %}

{% block class_links %}
    <link rel = "stylesheet" href = "{{ url_for('class_app.static', filename='css/class_page.css') }}">
{% endblock %}

{% block class_content %}
        <div class="content">
            {% if is_teacher%}
                <h2>Curated classes</h2>
                
                {% for class in my_classes_list %}             
                    <div class="card with-tasks">
                        <div class="card-header">Назва курсу: {{ class.title }}<br><span>Автор: {{ class.teacher.username }}</span></div>
                        <div class="card-body">
                            <!-- <li>Завдання 1 <span class="done">- заверешено</span></li>
                            <li>Завдання 2 <span class="to-do">- здати до 01.01.2025</span></li>
                            <li>Завдання 3 <span class="not-done"> - срок здачі закінчився</span></li> -->
                        </div>
        
                        <div class="card-footer">
                            <a href="/class_courses{{ class.id }}">
                                <button class="start-btn">Перейти до курсу</button>
                            </a>
                            <a href="/create_task{{ class.id }}">
                                <button class="start-btn">Створити завдання</button>
                            </a>
                        </div>
                    </div>
                {% endfor %}

                <br>

            {% endif %}
                
            <h2>My classes</h2>

            {% for class in classes_list %}             
                <div class="card with-tasks">
                    <div class="card-header">Назва курсу: {{ class.title }}<br><span>Автор: {{ class.teacher.username }}</span></div>
                    <div class="card-body">
                        <!-- <li>Завдання 1 <span class="done">- заверешено</span></li>
                        <li>Завдання 2 <span class="to-do">- здати до 01.01.2025</span></li>
                        <li>Завдання 3 <span class="not-done"> - срок здачі закінчився</span></li> -->
                    </div>
    
                    <div class="card-footer">
                        <a href="/class_courses{{ class.id }}">
                            <button class="start-btn">Перейти до курсу</button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}