{% extends "class.html" %}

{% block calss_title %}
    Class information
{% endblock %}

{% block class_links %}
    <link rel = "stylesheet" href = "{{ url_for('class_app.static', filename='css/class_information.css') }}">
{% endblock %}

{% block class_content %}
    <div class="wrapper">
        <p>class information</p>

        <div class="content">
            {% if class.users %}
                <h2>Користувачі in class</h2>
                {% for user in class.users %}
                    <div>
                        <h3>{{ user.username }}</h3>
        
                        <a href="/delete_user?class_id={{class.id}} &user_id= {{user.id}}">
                            <button>Delete user</button>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <a href="/class_courses{{ class.id }}">
            <button>Назад до курсу</button>
        </a>
    </div>
{% endblock %}