{% extends "class.html" %}

{% block calss_title %}
    Create Test
{% endblock %}

{% block class_links %}
    <link rel = "stylesheet" href = "{{ url_for('class_app.static', filename='css/courses.css') }}">
{% endblock %}

{% block class_content %}
    <div class="container-classroom">
        <div class="classroom-content">
            <div class="course-header">
                <h2>{{ class.title}}</h2>
            </div>

            {% for task in taskes_list %}
                <div class="course-tasks">
                    <div class="task">
                        <h3>{{ task.title }}</h3>
                        <p>{{ task.description }}</p>
                        {% if username == class.teacher.username %}
                            <a href="/result_task{{ task.test_id }}">   
                                <p>Результати користувачів класу</p>
                            </a>
                        {% else %}
                            <a href="/passing_test?test_id={{ task.test_id }}&question_number= 0">   
                                <p>Пройти тест</p>
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}