{% extends "class.html" %}

{% block calss_title %}
    Task page
{% endblock %}

{% block class_links %}
    <link rel = "stylesheet" href = "{{ url_for('class_app.static', filename='css/task_page.css') }}">
{% endblock %}

{% block class_content %}

    <div class="task-div">
        <h2>Доступні завдання</h2>

        <div class="filter-bar">
            <label for="course">Оберіть курс: </label>
            <select id="course">
                <option value="all">Усі курси</option>
                <!-- {% for class in classes %}          
                    <option value="{{ class.id }}">{{ class.title }}</option>
                {% endfor %} -->
            </select>
        </div>
    
        <div id="tasks">   
            <div class="category" data-course="math">
                <h3>На цей тиждень</h3>
                <details>
                    <summary>Завдання 3 <span class="arrow"></span></summary>
                    <div class="task-details">
                        Опис: немає<br>
                        Дедлайн: пʼятниця.
                    </div>
                </details>
            </div>
    
            <div class="category" data-course="ukrainian">
                <h3>Наступний тиждень</h3>
                <details>
                    <summary>Завдання 4 <span class="arrow"></span></summary>
                    <div class="task-details">
                        Опис: немає.<br>
                        Дедлайн: середа.
                    </div>
                </details>
            </div>
    
        </div>

        <div class="category" data-course="geography">
                <h3>Без терміну</h3>
                <details>
                    <summary>Завдання 2 <span class="arrow"></span></summary>
                    <!-- {% for task in due_time_list_all %}
                        <div class="task-details">
                            Назва: {{ task.title}}. <br>
                            Опис: {{ task.description}}. <br>
                            Дедлайн: {{ task.due_time}}.
                        </div>
                    {% endfor %} -->
                </details>
            </div>
            
            <div class="category" data-course="informatics">
                <h3>Термін здачі пропущено</h3>
                
                <details>
                    <summary>Завдання 1 <span class="arrow"></span></summary>
                    <!-- {% for task in can_do_task_all %}
                        <div class="task-details">
                            Назва: {{ task.title}}. <br>
                            Опис: {{ task.description}}. <br>
                            Дедлайн: {{ task.due_time}}.
                        </div>
                    {% endfor %} -->
                </details>
            </div>
    </div>

    <script>
        const courseSelect = document.getElementById("course")
        const categories = document.querySelectorAll(".category")

        courseSelect.addEventListener("change", () => {
            const selected = courseSelect.value

            categories.forEach(cat => {
                if (selected === "all" || cat.dataset.course === selected) {
                    cat.style.display = "block"
                } else {
                    cat.style.display = "none"
                }
            })
        })  
    </script>
{% endblock %}