{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block links %}
    <link rel = "stylesheet" href = "{{ url_for('home_app.static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
    <div class = "about-questy">
        <div class="description">
            <h1 class="start-t">ПОЧАТИ ТЕСТ</h1>
            <p class= "text-d">Платформа Questy дозволяє створювати інтерактивні тести, 
                ділитися ними за допомогою унікального коду та проходити їх у режимі реального часу. 
                Ви можете налаштувати питання, часові обмеження, кількість учасників, та формат відповідей. 
                Підходить як для навчання, так і для розважальних вікторин у компанії.
            </p>
            <div class= "enter-code">
                <div class="search-input">
                    <i class='bx bx-search'></i>
                    <input placeholder="Введіть код тесту" class= "input_code" id="room">
                    <div class="fake-input-border"></div>
                </div>
                <button type="button" class= "search-btn" onclick="emitUser()">ПІДКЛЮЧИТИСЬ</button>
            </div>
        </div>

        <div class="schedule">
            <img alt="schedule" src="{{ url_for('home_app.static', filename='images/schedule.svg') }}" class="schedule-img">
        </div>
    </div>

    <hr>

        {% if list_tests %}
            <div class="aval-t">
                <h1 class="av-t">Доступні тести</h1>
            </div>
        
            <div class="tests">
            {% for test in list_tests %}
                <a href="/passing_test?test_id={{ test.id }}&question_number= 0" class="test-card">
                    <div class="test-content">
                        {% if test.image %}
                            <img src="/home_app/static/images/media/{{ test.id }}.png" alt="" class="test-img">
                        {% else %}
                            <img src="/home_app/static/images/media/0.png" alt=""  class="test-img">
                        {% endif %}
                        <span class="test-questions">{{ test.total_questions }} питання</span>
                        <h3 class="test-title">{{ test.title }}</h3>
                        <p class="test-description">{{ test.description }}</p>
                        <div class="test-accuracy">100% точність</div>
                    </div>
                </a>
            {% endfor %}
            </div>
            
            <hr>
        {% endif %}

     <script>
        
        const username = "{{ username }}"
        const test_list = "{{ list_tests }}"
        let currentCodes = [];

        async function updateCodes() {
            try {
                const response = await fetch('/get_active_codes');
                const codes = await response.json();
                currentCodes = codes;
            } catch (error) {
                console.log(error);
            }
        }

        updateCodes();
        setInterval(updateCodes, 5000);

        function emitUser(){
            const room = document.getElementById('room').value.trim();
            
            if (currentCodes.includes(room)) {
                window.location.href = `/room${room}`; 
            } 
        }

    </script>
    
{% endblock %}