{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block links %}
    <link rel = "stylesheet" href = "{{ url_for('home_app.static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
    <aside class="info">
        <div class="info-text">
            <h1 class="start-t">ПРО НАС</h1>
            <p class="text-d">
                Платформа Questy дозволяє створювати інтерактивні тести, 
                ділитися ними за допомогою унікального коду та проходити їх у режимі реального часу. 
                Ви можете налаштувати питання, часові обмеження, кількість учасників, та формат відповідей. 
                Підходить як для навчання, так і для розважальних вікторин у компанії.
            </p>
        </div>

        <div class= "enter-code">
            <div class="search-input">
                <i class='bx bx-search'></i>
                <input placeholder="Введіть код тесту" class= "input_code" id="room">
                <div class="fake-input-border"></div>
            </div>
            <button type="button" class= "search-btn" onclick="emitUser()">ПІДКЛЮЧИТИСЬ</button>
        </div>
    </aside>

    {% if list_tests %}
        <section class="tests">
            <h2>Доступні тести</h2>
            <div class="tests-scroll">
                {% for test in list_tests %}
                <a href="/passing_test?test_id={{ test.id }}&question_number=0">
                    <div class="test-card" style="background-image: url({% if test.image %}/home_app/static/images/media/{{ test.id }}{% else %}/home_app/static/images/media/4.png{% endif %});">
                            <div class="test-info">
                                <h3>{{ test.title }}</h3>
                                <p>Автор: {{ test.author_name }}</p>

                                <p>{{ test.total_questions }} питань</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
                </div>
        </section>      
    {% endif %}

    <script>    
        const username = "{{ username }}"
        const test_list = "{{ list_tests }}"
        let currentCodes = [];

        async function updateCodes() {
            try {
                const response = await fetch('/get_active_codes');
                const codes = await response.json();
                currentCodes = codes;
            } catch (error) {
                console.log(error);
            }
        }

        updateCodes();
        setInterval(updateCodes, 5000);

        function emitUser(){
            const room = document.getElementById('room').value.trim();
            
            if (currentCodes.includes(room)) {
                window.location.href = `/room${room}`; 
            } 
        }

    </script>
    
{% endblock %}

{% block footer %}
    <footer>
        <div class="footer-content">
            <div class="footer-text">© 2025 Questy. All rights reserved.</div>
            <div class="social-media">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
            </div>
        </div>
    </footer>
{% endblock %}