{% extends "base.html" %}

{% block title %}
    PROFILE_APP
{% endblock %}

{% block links %}
    <link rel = "stylesheet" href = "{{ url_for('home_app.static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}
    {% if is_authorization %}
        <div class="container-profile">
            <div class="top-section">
                <div class="graph-section">
                    <div class="dropdown">
                        <label for="chartType">Вибір графіка:</label>
                        <form action="" method="post" class="score-form">
                            <select name="choice" id="choice" onchange="saveSelectedValueChart()">
                                <option value="graph_1" selected>Graph 1 </option>
                                <option value="graph_2">Graph 2</option>
                                <option value="graph_3">Graph 3</option>
                                <option value="graph_4">Graph 4</option>
                            </select>
                            <div class="graph-imitaton">-</div>

                            <script>
                                const selectElement = document.getElementById("choice");

                                function saveSelectedValueChart(){
                                    localStorage.setItem('selectedOption', selectElement.value)
                                }
                                
                                function LoadSelectionChart(element){
                                    const savedValue = localStorage.getItem('selectedOption')
                                    if (savedValue) {
                                        selectElement.value = savedValue;
                                    }
                                }
                                window.onload = LoadSelectionChart;
                            </script>

                            <input type="submit" value="Send">
                        </form>

                        <div class="chart-container">

                            {% if dates_complete and accuracy and wt_graph == '1' %}
                                <div class="accuracy-chart-div">                          
                                    <canvas id="accuracyChart"></canvas>
                                </div>

                                <script>
                                    
                                    const dates_complete = {{ dates_complete | tojson }};
                                    const accuracy = {{ accuracy | tojson }};

                                    const ctx = document.getElementById('accuracyChart').getContext('2d');

                                    new Chart(ctx, {
                                        type: 'line',
                                        data: {
                                            labels: dates_complete,
                                            datasets: [{
                                                label: 'Точність (%)',
                                                data: accuracy,
                                                fill: false,
                                                borderColor: 'rgba(75, 192, 192, 1)',
                                                backgroundColor: 'rgba(75, 192, 192, 0.3)',
                                                borderWidth: 2,
                                                tension: 0.2,
                                                pointBackgroundColor: 'rgba(75, 192, 192, 1)',
                                                pointRadius: 5
                                            }]
                                        },
                                        options: {
                                            responsive: true,
                                            maintainAspectRadio: false,
                                            plugins: {
                                                title: {
                                                    display: true,
                                                    text: 'Графік точності по датах'
                                                },
                                                tooltip: {
                                                    mode: 'index',
                                                    intersect: false
                                                }
                                            }
                                        }
                                    });
                                </script>
                            {% endif %}

                            {% if dates_complete and wt_graph == 'd_cmpl' %}
                                <div class="accuracy-chart-div">                          
                                    <canvas id="accuracyChart"></canvas>
                                </div>
                            
                                <script>
                                    console.log('d_cmpl')
                                        const ctx = document.getElementById('datesCompleteChart').getContext('2d');
                                        
                                        const dates_complete = {{ dates_complete | tojson }};
                                        const count_cmpl_quiz = {{ count_cmpl_quiz | tojson }};


                                    new Chart(ctx, {
                                        type: 'line',
                                        data: {
                                            labels: dates_complete,
                                            datasets: [{
                                                label: 'Виконанні тести ',
                                                data: count_cmpl_quiz,
                                                fill: false,
                                                borderColor: 'rgba(75, 192, 192, 1)',
                                                backgroundColor: 'rgba(75, 192, 192, 0.3)',
                                                borderWidth: 2,
                                                tension: 0.2,
                                                pointBackgroundColor: 'rgba(75, 192, 192, 1)',
                                                pointRadius: 5
                                            }]
                                        },
                                        options: {
                                            responsive: true,
                                            maintainAspectRadio: false,
                                            plugins: {
                                                title: {
                                                    display: true,
                                                    text: 'Графік активності'
                                                },
                                                tooltip: {
                                                    mode: 'index',
                                                    intersect: false
                                                }
                                            }
                                        }
                                    });

                                </script>
                            {% endif %}

                            {% if dates_complete and accuracy and flag_graph == 'flag_graph'  %}
                                <div class="accuracy-chart-div">                          
                                    <canvas id="accuracyChart"></canvas>
                                </div>

                                <script>
                                    
                                    const dates_complete = {{ dates_complete | tojson }};
                                    const accuracy = {{ accuracy | tojson }};

                                    const ctx = document.getElementById('accuracyChartWeek').getContext('2d');

                                    new Chart(ctx, {
                                        type: 'line',
                                        data: {
                                            labels: dates_complete,
                                            datasets: [{
                                                label: 'Точність (%)',
                                                data: accuracy,
                                                fill: false,
                                                borderColor: 'rgba(75, 192, 192, 1)',
                                                backgroundColor: 'rgba(75, 192, 192, 0.3)',
                                                borderWidth: 2,
                                                tension: 0.2,
                                                pointBackgroundColor: 'rgba(75, 192, 192, 1)',
                                                pointRadius: 5
                                            }]
                                        },
                                        options: {
                                            responsive: true,
                                            maintainAspectRadio: false,
                                            plugins: {
                                                title: {
                                                    display: true,
                                                    text: 'Графік точності по датах'
                                                },
                                                tooltip: {
                                                    mode: 'index',
                                                    intersect: false
                                                }
                                            }
                                        }
                                    });
                                </script>
                            {% endif %}
                        </div>
                    </div>
                    

                </div>

                <div class="profile-section">
                    <img src="/home_app/static/images/default-profile.jpg" alt="avatar" class="avatar">
                    <h3>User 1</h3>

                    <div class="edit-profile-btns">
                        <a href="/edit_profile{{ current_user.id }}">
                            <button class="edit-btn">Змінити ім'я</button>
                        </a>
                        <a href="/send_email_app/">
                            <button>Змінити пароль</button>
                        </a>
                    </div>
                    <p>Пройдено тестів: <strong>{{ scores_count }}</strong></p>
                    <p>Створено тестів: <strong>{{ tests_count }}</strong></p>
                </div>

            </div>

            
            <div class="tests-section">
                <form action="" method="post" class="score-form">
                    <select name="choice_test" id="choice_test" onchange="saveSelectedValueScore()">
                        <option value="date" selected>По датi </option>
                        <option value="accuracy">По точностi</option>
                    </select>
            
                    <input type="submit" value="Send">
                    <script>
                        const selectElementTest = document.getElementById("choice_test");

                        function saveSelectedValueScore(){
                            localStorage.setItem('selectedOption', selectElementTest.value)
                        }
                        
                        function LoadSelectionScore(element){
                            const savedValue = localStorage.getItem('selectedOption')
                            if (savedValue) {
                                selectElementTest.value = savedValue;
                            }
                        }
                        window.onload = LoadSelectionScore;
                    </script>
                </form>
              
                
                {% if selected_option_test[0] == "date" %}
                    <div class="score-result">
                        {% for score in scores %}
                            <div class="test-card">   
                                {% for test in list_tests %}
                                    {% if test.id == score.test_id %}
                                        <p><strong>Тест: </strong>{{ test.title }}</p>
                                        <p><strong>Опис: </strong>{{ test.description }}</p>
                                        <p><strong>Автор: </strong>{{ test.author_name }}</p>
                                        <p><strong>Код: </strong>{{ test.test_code }}</p>
                                        <a href="/review_results{{ score.id }}">
                                            <button>Переглянути</button>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                                <p><strong>Результат: </strong>{{ score.accuracy }}</p>
                                <p><strong>Дата: </strong>{{ score.date_complete }}</p>
                                <p><strong>Час: </strong>{{ score.time_complete }}</p>
                                
                            </div>
                        {% endfor %}
                    </div>
                {% elif selected_option_test[0] == "accuracy" %}
                    <div class="score-result">
                        {% for score in accuracy_sort %}
                            <div class="test-card">   
                                {% for test in list_tests %}
                                    {% if test.id == score[2] %}
                                        <p><strong>Тест: </strong>{{ test.title }}</p>
                                        <p><strong>Опис: </strong>{{ test.description }}</p>
                                        <p><strong>Автор: </strong>{{ test.author_name }}</p>
                                        <p><strong>Код: </strong>{{ test.test_code }}</p>
                                        <a href="/review_results{{ score[1] }}">
                                            <button>Переглянути</button>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                                <p><strong>Результат: </strong>{{ score[0] }}</p>
                                <p><strong>Дата: </strong>{{ score[3] }}</p>
                                <p><strong>Час: </strong>{{ score[4] }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
    
    {% else %}
            <h1>У вас немає профілю, ви не авторизовані</h1>
    {% endif %}
    </div>

{% endblock %}