{% extends "base.html" %}

{% block title %}
    Score Page
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('home_app.static', filename='css/score.css') }}">
{% endblock %} 

{% block content %}
    <h1>Score Page</h1>

    {% if message %}
        <h2>{{ message }}</h2>
    {% else %}
        
        <hr>
        
        {% for score in scores %}
            {% for test in list_tests %}
                {% if test.id == score.test_id %}
                    <p>Заголовок теста:{{ test.title }}</p>
                    <p>Описание теста:{{ test.description }}</p>
                    <p>Автор теста:{{ test.author_name }}</p>
                    <p>Код теста:{{ test.test_code }}</p>
                {% endif %}
            {% endfor %}
            <p>Ваша текущая точность:{{ score.accuracy }}</p>
            <p>Дата создания теста:{{ score.date_complete }}</p>
            <hr>
        {% endfor %}

        {% if graph %}
            <div class="graph">
                <h3>График:</h3>
                <img src="data:image/png;base64,{{ graph }}" alt="График">
            </div>
        {% endif %}

    {% endif %}
{% endblock %}


