{% extends "base.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('sign_up_app.static', filename= 'css/sign_up.css') }}">

{% endblock %}

<!-- добавление формы для регестрации -->

{% block content %}
    {% if message %}
        <p>{{ message }}</p>
    {% else %}
        <div class="wrapper">
            <span class="rotate-bg"></span>
            <div class="form-box reg">
                <h2 class="title">Реєстрація</h2>
            
                <form action="" method="POST">
                    <div class="input-box">
                        <input type="text" name="name" required>
                        <label for="name">Ім'я</label>
                        <i class='bx bxs-user'></i>
                    </div>

                    <div class="input-box">
                        <input type="email" name="email" required>
                        <label for="email">Електронна пошта</label>
                        <i class='bx bxs-envelope'></i>
                    </div>

                    <div class="input-box">
                        <input type="password" name="password" required>
                        <label for="password">Пароль</label>
                        <i class='bx bxs-lock-alt'></i>
                    </div>

                    <div class="input-box">
                        <input type="password" name="password-confirmation" required>
                        <label for="passwrod-confirmation">Підтвердження паролю</label>
                        <i class='bx bxs-lock-alt'></i>
                    </div>

                    <div class="radio-box">
                        <div class="radio-button-box">
                            <input type="radio" id= True name="is_teacher" value= True checked >
                            <label for="Teacher">Вчитель</label>
                        </div>
                        
                        <div class="radio-button-box">
                            <input type="radio" id= False name="is_teacher" value= False checked >
                            <label for="pupil">Учень</label>               
                        </div>   
                    </div>

                    <button type="submit" class="btn">Зареєструватись</button>

                    <div class="linkTxt">
                        <p>Вже маєте акаунт? <a href="/login/" class="login-link">Авторизуватись</a></p>
                    </div>

                </form>
            </div>

            <div class="info-text reg">
                <h2>Приєднуйтесь до нашої команди зараз!</h2>
                <p>Будь ласка, введіть свої дані.</p>
            </div>
            
        </div>
    {% endif %}
{% endblock %}