{% extends "base.html" %}

{% block title %}
    Create Test
{% endblock %}

{% block links %}
    <link rel = "stylesheet" href = "{{ url_for('test_app.static', filename='css/create_test.css') }}">
{% endblock %}

{% block content %}
<script src="{{ url_for('test_app.static', filename= 'js/build_test.js') }}"></script>

    <div class="container">
        <h1>Створіть чудову вікторину за лічені хвилини за допомогою штучного інтелекту</h1>
        <h3>Questy – це найпростіший спосіб зробити вікторини</h3>
        
        <div class="test-header">
            <div class="test-details">
                <div class="test-title">Назва тесту: <input type="text" placeholder="Назва тесту"></div>
                <div class="test-description">Опис: <input type="text" placeholder="Опис"></div>
            </div>
            <div class="load-img">
                <label for="image">Зображення (необов'язково)</label>
                <input type="file" name="image" id="" accept="image/*">
            </div>
        </div>
        
        <div class="test-question">

        </div>

        <div class="div-button-create-quesion">
            <button class="button-create-question">Створити ще одне питання +</button>
        </div>
        
        <div class="div-button-create-quesion">
            <button class="button-create-question" onclick="buildTest()">Закінчити створення тесту</button>
        </div>
    </div>

    <script src="{{ url_for('test_app.static', filename= 'js/create_question.js') }}"></script>
{% endblock %}