{% extends "base.html" %}

{% block title %}
    Edit Test
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="question">
            <div class="answers">
                <div class="answer">Answer 1</div>
                <div class="answer">Answer 2</div>
                <div class="answer">Answer 3</div>
                <div class="answer">Answer 4</div>
            </div>
        </div>
    </div>

{% endblock %}