{% extends "base.html" %}

{% block title %}
    Edit Test
{% endblock %}

{% block links %}
    <link rel = "stylesheet" href = "{{ url_for('test_app.static', filename='css/edit_head_test.css') }}">
{% endblock %}

{% block content %}
    <div class="edit-question-form">
        <form action="" method="POST" class="edit-form">
            <h1>Edit</h1>
            <div class="input-group">
                <input type="text" name="title" placeholder="Enter new title for test">
            </div>
            
            <div class="input-group">
                <input type="text" name="description" placeholder="Enter new description for test">
            </div>

            <button type="submit" class="edit-btn">Edit test</button>

        </form>
        
    </div>
{% endblock %}