{% extends "base.html" %}

{% block title %}
    Edit Test
{% endblock %}

{% block links %}
    <link rel="stylesheet" href = "{{ url_for('test_app.static', filename='css/passing_test.css') }}">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="question">
            <p>{{  list_quiz[question_number].question_text }}</p>
        </div>
        {% if list_quiz[question_number].question_type == "image" %}
            <div class="image-container">
                <img src="/test_app/static/images/{{ test.id }}/{{ list_quiz[question_number].image_name }}" alt="quiz image">
            </div>
        {% endif %}
        
        <div class="answers">
            {% if list_quiz[question_number].question_type == "choice" or list_quiz[question_number].question_type == "image" %}
                {% if question_number + 1 != list_quiz|length %}
                    {% for answer in list_answers[question_number] %}         
                        <a class="answer-link" href="/passing_test?test_id={{ test.id }}&question_number= {{ question_number + 1}}">
                            <div class="answer" id="{{ answer }}">
                                <p class="answer-text">{{ answer }}</p>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    {% for answer in list_answers[question_number] %}    
                        <a class="answer-link" href="/result_test?test_id= {{ test.id }}">
                            <div class="answer" id="{{ answer }}">
                                <p class="answer-text">{{ answer }}</p>
                            </div>
                        </a>     
                    {% endfor %}
                {% endif %}
            {% elif list_quiz[question_number].question_type == "input" %}
                {% if question_number + 1 != list_quiz|length %}
                    <input type="text" placeholder="Введіть відповідь на запитання" class="input-with-answer">
                    
                    <a class="answer-link" href="/passing_test?test_id={{ test.id }}&question_number= {{ question_number + 1}}">
                        <button class="input-answer">Відповісти на запитання</button>
                    </a>
                {% else %}
                    <input type="text" placeholder="Введіть відповідь на запитання" class="input-with-answer">
                    
                    <a class="answer-link" href="/result_test?test_id= {{ test.id }}">
                        <button class="input-answer">Відповісти на запитання</button>
                    </a>  
                {% endif %}
            {% elif list_quiz[question_number].question_type == "multiple_choice" %}
                {% if question_number + 1 != list_quiz|length %}
                    {% for answer in list_answers[question_number] %}         
                        <div>
                            <button class="multiple-answer" id="{{ answer }}">
                                <p class="answer-text">{{ answer }}</p>
                            </button>
                        </div>
                    {% endfor %}
                    
                    <a class="answer-link" href="/passing_test?test_id={{ test.id }}&question_number= {{ question_number + 1}}">
                        <button class="multiple-choice-answer">Відповісти на запитання</button>
                    </a>
                {% else %}
                    {% for answer in list_answers[question_number] %}    
                        <div>
                            <button class="multiple-answer" id="{{ answer }}">
                                <p class="answer-text">{{ answer }}</p>
                            </button>
                        </div>   
                    {% endfor %}
                    
                    <a class="answer-link" href="/result_test?test_id= {{ test.id }}">
                        <button class="multiple-choice-answer">Відповісти на запитання</button>
                    </a>  
                {% endif %} 
            {% endif %}
        </div>
    </div>
                
    <script src="{{ url_for('test_app.static', filename = 'js/passing_test.js') }}"></script>
{% endblock %}