{% extends "base.html" %}

{% block title %}
    Room
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('test_app.static', filename= 'css/room.css') }}">
    <link rel="stylesheet" href="{{ url_for('test_app.static', filename= 'css/room_test_result.css') }}">
{% endblock %}
    
{% block content %}

    <div class="room-content" id="room-content">

    </div>
    
    <script src="{{ url_for('test_app.static', filename= 'js/add_user_block.js') }}"></script>
    <script src="{{ url_for('test_app.static', filename= 'js/render_waite_page.js') }}"></script>
    <script src="{{ url_for('test_app.static', filename= 'js/render_author_start.js') }}"></script>
    <script src="{{ url_for('test_app.static', filename= 'js/render_question.js') }}"></script>
    <script src="{{ url_for('test_app.static', filename= 'js/render_result_test.js') }}"></script>
    <script src="{{ url_for('test_app.static', filename= 'js/render_author_result_test.js') }}"></script>

    <script>

        let username = "{{ username }}"; 
        const room = "{{ test.test_code }}"; 
        
        if (!username) {
            username= getCookie("temporary_name")
            if (!username) {
                window.location.href = `/temporary_name${room}`;
            }
        }
        
        const socket= io({reconnection: true});

        const totalQuestion = Number("{{ test.total_questions }}");
        const testId = Number("{{ test.id }}");
        const authorName= "{{ test.author_name }}";

        const listQuiz = {{ list_quiz | tojson }};
        const listAnswers = {{ list_answers | tojson }};
        
        let state = getCookie("state");
        let plusAnswerTime= 0;
        let timerPaused= getCookie("timeStop");
        let timerInterval= null;

        if (timerPaused === NaN){
            document.cookie = `timeStop=false; path=/;`;
            timerPaused= false
        }else if (timerPaused == 'true'){
            timerPaused= true
        }else if (timerPaused == 'false'){
            timerPaused= false
        } 

        // console.log(timerPaused, typeof(timerPaused))

        //window.addEventListener('beforeunload', function(){
        //    state = getCookie("state");
        //    if (state && state === "author_result_test") {
        //        document.cookie = `state= author_leave; max-age=3; path=/;`;
        //        document.cookie = `user_answers=; max-age=0; path=/;`;
        //        document.cookie = `countUsersAnswer=; max-age=0; path=/;`;
        //        document.cookie = `countCorrectAnswer=; max-age=0; path=/;`;
        //    }
        //    else if (state && state=== "result_test"){
        //        document.cookie = `state= user_leave; max-age=3; path=/;`;
        //        document.cookie = `user_answers=; max-age=0; path=/;`;
        //        document.cookie = `countUsersAnswer=; max-age=0; path=/;`;
        //        document.cookie = `temporary_name=; max-age=0; path=/;`;
        //    }
        //    
        //});

        if (state && state.includes("author_start")) {
            state= getCookie("state")
            let time= getCookie("time")
            renderAuthorStart(listQuiz[Number(state.slice(-1))], room, authorName, Number(state.slice(-1)), totalQuestion);
        } 
        else if (state === "author_result_test") {
            renderAuthorResultTest(username, authorName, totalQuestion);
        } 
        else if (state === "result_test") {
            renderResultTest(username, totalQuestion, listQuiz, listAnswers, testId);
        } 
        else if (state && state=== "author_leave"){
            let currentURL = window.location.href;
            let roomCode = currentURL.split('room')[1]
            
            socket.emit("test_end", {
                room: roomCode
            });
            
            document.cookie = `state=; max-age=0; path=/;`;
            window.location.href = '/';  
        }
        else if (state && state=== "user_leave"){
            document.cookie = `state=; max-age=0; path=/;`;
            window.location.href = '/';  
        }
        else if (state && state.includes("question")) {
            let time= getCookie("time")
            renderQuestion(Number("{{ test.id }}"), listQuiz[Number(state.slice(-1))], listAnswers[Number(state.slice(-1))], room, authorName);
        } 
        else if (state && state.includes("waite")) {
            renderWaiteQuestion("test");
        } 
        else {
            if (authorName === username){
                renderRoomMain(room, authorName, username, listQuiz);
    
                let messages= document.getElementById("messages");
                
                if (messages && messages.children.length != 1){
                    const emptyMessages= document.getElementById("no-messages");
                    if (emptyMessages){
                        emptyMessages.remove()
                    }
                }
            } else{
                renderWaiteQuestion("waite");
            }
        }
 
        socket.on("connect", function () {     
            socket.emit("join", {
                room: room,
                username: username
            });
        
            if (username !== authorName && !state) {    
                //createUserBlock(username, authorName, username, "waite")              
                
                console.log("Add in waite list")
                
                fetch('https://api.ipify.org?format=text')
                    .then(r => r.text())
                    .then(ip => {
                        console.log("Ваш IP:", ip);

                        socket.emit("new_user_admin", {
                            room: room,
                            username: username,
                            authorName: authorName,
                            ip: ip
                        });
                    })
                        .catch(e => console.error("Ошибка IP:", e));
            }
        });

        socket.on("listening_to_messages", function(data) {
            let messages = document.getElementById("messages");

            if (messages != "") {
                messages.innerHTML += `<p class="other-msg">${data}</p>`;  
            };

            if (messages && messages.children.length != 1){
                const emptyMessages= document.getElementById("no-messages");
                if (emptyMessages){
                    emptyMessages.remove()
                }
            }
        });

        socket.on("author_receive_answer", function(data) {     
            let answer= data["answer"]           
            let countUsersAnswer= getCookie("countUsersAnswer");
            countUsersAnswer = Number(countUsersAnswer) + 1  
            document.cookie = `countUsersAnswer= ${countUsersAnswer}; path=/`;

            state = getCookie("state");    
            addUserAnswer(data["username"], answer, authorName, listQuiz[Number(state.slice(-1))]);
            
            socket.emit("get_room_size", {
                room: room,
                authorName: authorName
            });

        });

        socket.on("recieve_count_users", function(data) {  
            const COUNTUSERS= data['countUsers']
            let countUsersAnswer= getCookie("countUsersAnswer");
            
            state = getCookie("state");
        });

        socket.on("next_question", function(data) {  
            state = getCookie("state");
            document.cookie = `timeStop=false; path=/;`;
            timerPaused= false
            plusAnswerTime= 0
            
            checkAnswers();
            if (state != "author_result_test") {
                let number_of_question= Number(state.slice(-1));
                document.cookie= `time=${Number(listQuiz[number_of_question + 1].time)}; path=/`
                if (number_of_question != totalQuestion - 1) {
                    document.cookie = `state= question${number_of_question + 1}; path=/`;
                    renderQuestion(Number("{{ test.id }}"), listQuiz[number_of_question + 1], listAnswers[number_of_question + 1], room, authorName);
                }
                else {
                    socket.emit("stop_test", {
                        room: room,
                        authorName: authorName
                    });
                    
                    document.cookie = `state= author_result_test; path=/`;

                    renderAuthorResultTest(username, authorName, totalQuestion);
                }
            }
        });

        socket.on("result_test", function(data) {      
            checkAnswers();

            renderResultTest(username, totalQuestion, listQuiz, listAnswers, testId);

            userAnswers= getCookie("user_answers");

            socket.emit("user_answers", {
                    room: room,
                    username: username,
                    authorName: authorName,
                    user_answers: userAnswers
                });

            document.cookie = `state= result_test; path=/`;
        });

        socket.on("create_user_block", function(data) {  
            if (!state){    
                if (username === data["username"]){
                    document.cookie= `compound= 1; path=/`;
                    renderRoomMain(room, authorName, username, listQuiz);
                }  
                createUserBlock(username, authorName, data['username'], data['user_ip'], "not");
            }
        });

        socket.on("new_user_admin", function(data) {  
            let addUser= true
            let blockedUsers= getCookie("blocked_users")
            console.log("blockedUsers")
            console.log(blockedUsers)
            if (blockedUsers){
                console.log("blockedUsers")
                console.log(blockedUsers)
                blockedUsers= blockedUsers.split("$%^")
                
                blockedUsers.forEach(blockIp =>{
                    console.log(data.ip, blockIp)
                    if (data.ip === blockIp){
                        addUser= false
                        console.log("BLOCKED USER")
                    }
                })
            }

            if (addUser){
                console.log(data.username, data.ip)
                if (!state){          
                    createUserBlock(username, authorName, data['username'], data['ip'], "waite");
                }
            }
        });

        socket.on('kicked', function(data) {
            document.cookie = `temporary_name=; max-age=0; path=/;`;    
            document.cookie = `compound=; max-age=0; path=/;`;
            document.cookie = `time=; max-age=0; path=/;`;  

            window.location.href = '/'; 
        });

        socket.on('plus_time', function(data) {          
            const timerText= document.getElementById("timer")
            let plusTime= 15
            plusAnswerTime += 15
            if (timerText && timerText.textContent != "Час закінчений"){
                let curr_time= Number(getCookie('time'))
                timerText.textContent = parseInt(curr_time) + plusTime
                document.cookie = `time=${parseInt(curr_time) + plusTime}; path=/;`;
            }
        });

        socket.on('change_time', function(data) {          
            timerPaused= !timerPaused
            console.log(`${timerPaused} STATE TIMER`)
            document.cookie = `timeStop=${timerPaused}; path=/;`;
            const playBtn= document.getElementById("play-btn")

            if (playBtn){
                if (timerPaused){
                    playBtn.textContent= "Play"
                }
                else{
                    playBtn.textContent= "Stop"
                }
            }
        });

        socket.on('user_disconnected', function(data) {  
            
            let messages = document.getElementById("messages");
            if (messages) {
                messages.innerHTML += `<p class="other-msg">${data['msg']}</p>`;  
            }  

            if (messages && messages.children.length != 1){
                const emptyMessages= document.getElementById("no-messages");
                if (emptyMessages){
                    emptyMessages.remove()
                }
            }

            let removeUserBlock= document.getElementById(`${data['username']}`)

            if (removeUserBlock) {
                removeUserBlock.remove()
            }
        });

        socket.on('start_test', function(data) {   
            let stateCookies= getCookie("state")
            let state= stateCookies ? Number(stateCookies.slice(-1)) : 0;
            let messages = document.getElementById("messages");         
            if (messages){
                messages.innerHTML += `<p>Start ${data["room"]}</p>`;
            }        
            console.log(`COOKIES TIME ${listQuiz[state].time} ::: ${state}`)
            document.cookie= `time= ${listQuiz[0].time}; path=/`
            compound= getCookie("compound")

            if (username === data["authorName"]) {          
                document.cookie = "state= author_start0; path=/";
                document.cookie = "countUsersAnswer= 0; path=/";
                document.cookie = `countCorrectAnswer= 0; path=/`;
                renderAuthorStart(listQuiz[0], room, authorName, state, totalQuestion);
            }
            else if(compound) {
                console.log("Тест начат");
                document.cookie = "state= question0; path=/";
                renderQuestion(Number("{{ test.id }}"), listQuiz[state], listAnswers[state], room, authorName);
            } else{
                window.location.href = '/'; 
            }
        });

        function nextQuestion(){
            const nextButton = document.getElementById("next-q");
            plusAnswerTime= 0

            state = getCookie("state");
            let number_of_question= Number(state.slice(-1)) + 1;
            let countUsersAnswer= getCookie("countUsersAnswer");
            
            document.cookie = `timeStop=false; path=/;`;

            const userAnswers = document.getElementById("user-answers");
            userAnswers.innerHTML = ""

            const countAnswer = document.getElementById("count-answer-span");
            countAnswer.textContent= 0;
             
            document.cookie = `state= author_start${number_of_question}; path=/`;
            document.cookie = `countCorrectAnswer= 0; path=/`;

            if (number_of_question == totalQuestion- 1) {
                nextButton.textContent = 'Кінець тесту'
                nextButton.removeEventListener("click", nextQuestion)
                nextButton.addEventListener("click", testStop);
            }

            document.cookie = `countUsersAnswer= 0; path=/`;
            
            console.log("Вопрос")
            console.log(number_of_question)
            const question_text = document.getElementById("author-question")
            question_text.textContent = `${listQuiz[number_of_question].question_text}`
        
            const correct_answer = document.getElementById("author-correct-answer")

            if (listQuiz[number_of_question].question_type == "multiple_choice"){
                correct_answer.textContent= `${listQuiz[number_of_question].correct_answer.replace("%$№", " та ")}`
            }
            else{
                correct_answer.textContent= `${listQuiz[number_of_question].correct_answer}`
            }
            
            document.cookie= `time=${Number(listQuiz[number_of_question].time)}; path=/`
            resetTimer(Number(listQuiz[number_of_question].time))

            const newTime = document.getElementById("timer")
            newTime.textContent =`${listQuiz[number_of_question].time}`

            timerPaused= false
            plusAnswerTime= 0
            
            if (donatChart){
                donatChart.destroy()
            }
    
            socket.emit("next_question", {
                room: room,
                authorName: authorName
            });
        }

        function sendMessage() {
            let msgInput = document.getElementById("msg");
            let messages = document.getElementById("messages");
            let message = msgInput.value;

            if (message != ""){
                let messages = document.getElementById("messages");

                messages.innerHTML += `<p class="my-msg">${username}: ${msgInput.value}</p>`;  

                if (messages && messages.children.length != 1){
                    const emptyMessages= document.getElementById("no-messages");
                    if (emptyMessages){
                        emptyMessages.remove()
                    }
                }

                socket.emit("message_to_chat", {
                    message: message,
                    room: room,         
                    username: username  
                });
            }
            msgInput.value = "";
        }

        function endTest() {
            let currentURL = window.location.href;
            let roomCode = currentURL.split('room')[1]

            socket.emit("end_test", {
                room: room,         
                username: username  
            });

            socket.emit("test_end", {
                room: roomCode
            });
            
            setTimeout(() => {
                window.location.href = '/'; 
            }, 200);
        }

        function testStop(){
            //console.log("stop test")
            
            socket.emit("stop_test", {
                room: room,
                authorName: authorName
            });

            document.cookie = `state= author_result_test; path=/`;
            //console.log(`Stop test ${getCookie("state")}`);
            

            console.log("test STOP AUTH RES")
            renderAuthorResultTest(username, authorName, totalQuestion);
        }

        function checkAnswers(){
            state = getCookie("state");
            let answers = getCookie("user_answers")
            
            if (answers) {
                let answers_list = answers.split("|")
                let user_answers = []
                let user_answers_list = []
                for (let answer of answers_list){
                    if (answer != "|"){
                        user_answers.push(answer)
                    }
                }
                for (let answer of user_answers){
                    if (answer != ""){
                        user_answers_list.push(answer)
                    }
                }
                
                if (user_answers_list.length !== Number(state.slice(-1)) + 1) {
    
                    answers += "|not_answer|"
                    document.cookie = `user_answers= ${answers}; path=/`;
                }
            }
            else {
                document.cookie = `user_answers= |not_answer|; path=/`;
            }
        }

        function addUesrBlock(username, button){
            const userBlock= button.closest(".user-block")
            const userIP= userBlock.querySelector(".user-ip").textContent.trim()
            
            if (userBlock){
                userBlock.remove()
            }
            
            socket.emit("new_user", {
                room: room,
                username: username,
                authorName: authorName,
                user_ip: userIP
            });
        }

        function leaveTest(){
            window.location.href = `/`;
        }

        function kickUser(kick_user, ip, type) {        
            socket.emit("kick_user", {
                room: room,
                user: kick_user
            });

            if (type === "block"){
                console.log("Block USER")

                let blockUserArray= getCookie("blocked_users")
                if (!blockUserArray){
                    console.log(`blocked_users=${ip}`)
                    document.cookie = `blocked_users=${ip}; path=/;`;
                } else{
                    console.log(`was blocked_users=${ip}`)
                    document.cookie = `blocked_users=${blockUserArray}$%^${ip}; path=/;`;
                }
            }

            let removeUserBlock= document.getElementById(`${kick_user}`)

            if (removeUserBlock) {
                removeUserBlock.remove()
            }
        }

        function authorStartTest() {
            socket.emit("author_start_test", {
                room: room,
            });
        }

        </script>
    
{% endblock %}
