{% extends "base.html" %}

{% block title %}
    Room
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('test_app.static', filename= 'css/room.css') }}">
    <link rel="stylesheet" href="{{ url_for('test_app.static', filename= 'css/room_test_result.css') }}">
    <link rel="stylesheet" href="{{ url_for('test_app.static', filename= 'css/author_result_question.css') }}">
{% endblock %}
    
{% block content %}

    <div class="room-content" id="room-content">

    </div>

    {% if current_user.is_authenticated %}
        <script src="{{ url_for('test_app.static', filename= 'js/get_cookies.js') }}"></script>
        <script src="{{ url_for('test_app.static', filename= 'js/add_user_block.js') }}"></script>
        
        <script src="{{ url_for('test_app.static', filename= 'js/render_waite_page.js') }}"></script>
        <script src="{{ url_for('test_app.static', filename= 'js/render_author_start.js') }}"></script>
        <script src="{{ url_for('test_app.static', filename= 'js/render_question.js') }}"></script>
        <script src="{{ url_for('test_app.static', filename= 'js/render_result_test.js') }}"></script>

        <script>
            const socket= io();
            const username = "{{ username }}";  
            const room = "{{ test.test_code }}";
            const total_question = Number("{{ test.total_questions }}");
            const author_name = "{{ test.author_name }}";

            const list_quiz = {{ list_quiz | tojson }};
            const list_answers = {{ list_answers | tojson }};
            
            let state = getCookie("state");

            if (state && state.includes("author_start")) {
                state= getCookie("state")
                renderAuthorStart(list_quiz[Number(state.slice(-1))], list_answers[Number(state.slice(-1))] );
            } 
            else if (state === "result_test") {
                console.log("Result of test");
                renderResultTest(username, author_name, total_question);
            } 
            else if (state && state.includes("question")) {
                renderQuestion(state.slice(-1), list_quiz, list_answers, room, author_name);
            } 
            else if (state && state.includes("waite")) {
                renderWaiteQuestion();
            } 
            else {
                
                renderRoomMain(room, author_name, username);
                let messages = document.getElementById("messages");
                if (messages) {
                    messages.innerHTML += `<p>${username} добавился в комнату </p>`; 
                };
            }
 
            socket.on("connect", function () {     
                socket.emit("join", {
                    room: room,
                    username: username
                });
            
                if (username !== author_name) {

                    if (!state){
                        createUserBlock(username, author_name, username)
                    }
                    
                    socket.emit("new_user", {
                        room: room,
                        username: username
                    });
                }
            });
            
            socket.on("listening_to_messages", function(data) {
                let messages = document.getElementById("messages");
                if (messages != "") {
                    messages.innerHTML += `<p>${data}</p>`;  
                };
            });

            socket.on("author_receive_answer", function(data) {                
                let countUsersAnswer= getCookie("countUsersAnswer");
                countUsersAnswer = Number(countUsersAnswer) + 1  
                document.cookie = `countUsersAnswer= ${countUsersAnswer}; path=/`;
                console.log(countUsersAnswer)

                console.log(data["username"], data["answer"])
                addUserAnswer(data["username"], data["answer"]);
                
                socket.emit("get_room_size", {
                    room: room,
                    author_name: author_name
                });

            });
            
            socket.on("recieve_count_users", function(data) {  
                const COUNTUSERS= data['countUsers']
                let countUsersAnswer= getCookie("countUsersAnswer");
                state = getCookie("state");
                console.log(state)
                console.log(`Checking ${Number(state.slice(-1))} and ${total_question -1}`)
                
                if (Number(COUNTUSERS) === Number(countUsersAnswer)) {    
                    if (Number(state.slice(-1)) === total_question - 1) {
                        console.log("stop test")
                        
                        socket.emit("stop_test", {
                            room: room,
                            author_name: author_name
                        });
                        
                        document.cookie = `state= result_test; path=/`;
                        console.log(`Stop test ${getCookie("state")}`);

                        renderResultTest(username, author_name, total_question);
                    }  
                    //else {
                    //    let block1= document.getElementById("block1")
                    //    block1.textContent = 'Хто з учнів на яке питання відповів'
                    //
                    //    let number_of_question= Number(state.slice(-1)) + 1;
                    //    console.log(`количество человек в тесте ${COUNTUSERS}  ответившых ${countUsersAnswer}`);
                    //    console.log(state)
                    //    document.cookie = `state= author_start${number_of_question}; path=/`;
                    //    
                    //    console.log("next question")
                    //    document.cookie = `countUsersAnswer= 0; path=/`;
                    //
                    //   socket.emit("next_question", {
                    //        room: room,
                    //        author_name: author_name
                    //    });
                    //}

                }
            });

            socket.on("next_question", function(data) {  
                state = getCookie("state");
                
                if (state != "result_test") {
                    console.log(state);
                    let number_of_question= Number(state.slice(-1)) + 1;
                    console.log(number_of_question);
                    document.cookie = `state= question${number_of_question}; path=/`;
                    state= getCookie("state");
                    console.log(state);
                    
                    renderQuestion(state.slice(-1), list_quiz, list_answers, room, author_name);
                }
            });

            socket.on("result_test", function(data) {  

                renderResultTest(username, author_name, total_question);

                userAnswers= getCookie("user_answers");
                console.log(userAnswers);

                socket.emit("user_answers", {
                        room: room,
                        username: username,
                        author_name: author_name,
                        user_answers: userAnswers
                    });

                document.cookie = `state= result_test; path=/`;
                console.log(`Stop test ${getCookie("state")}`);
            });

            socket.on("create_user_block", function(data) {  
                console.log(data) ; 
                if (!state){          
                    createUserBlock(username, author_name, data);
                }
            });

            socket.on('kicked', function(data) {          
                window.location.href = '/'; 
            });

            socket.on('room_get_result_data', function(data) {          
                console.log(data);
            });

            socket.on('user_disconnected', function(data) {  
                
                let messages = document.getElementById("messages");
                if (messages != "") {
                    messages.innerHTML += `<p>${data['msg']}</p>`;  
                }  

                let removeUserBlock= document.getElementById(`${data['username']}`)

                if (removeUserBlock) {
                    removeUserBlock.remove()
                }
            });

            socket.on('start_test', function(data) {
                let messages = document.getElementById("messages");
                messages.innerHTML += `<p>Start ${data["room"]}</p>`;
                if (username === data["author_name"]) {
                    console.log("Вы начали тест");              
                    document.cookie = "state= author_start0; path=/";
                    document.cookie = "countUsersAnswer= 0; path=/";
                    renderAuthorStart();
                }
                else {
                    console.log("Тест начат");
                    document.cookie = "state= question0; path=/";
                    renderQuestion(0, list_quiz, list_answers, room, author_name);

                }
            });

            function nextQuestion(){
                let countUsersAnswer= getCookie("countUsersAnswer");
                state = getCookie("state");
                
                let number_of_question= Number(state.slice(-1)) + 1;
                console.log(state)
                document.cookie = `state= author_start${number_of_question}; path=/`;
                
                console.log("next question")
                document.cookie = `countUsersAnswer= 0; path=/`;
                
                socket.emit("next_question", {
                    room: room,
                    author_name: author_name
                });
            }

            function sendMessage() {
                let msgInput = document.getElementById("msg");
                let message = msgInput.value;

                if (message != ""){
                    socket.emit("message_to_chat", {
                        message: message,
                        room: room,         
                        username: username  
                    });
                }
                msgInput.value = "";
            }

            function kickUser(kick_user) {
               
                socket.emit("kick_user", {
                    room: room,
                    user: kick_user
                });

                let removeUserBlock= document.getElementById(`${kick_user}`)

                if (removeUserBlock) {
                    removeUserBlock.remove()
                }
            }

            function authorStartTest() {
                socket.emit("author_start_test", {
                    room: room,
                });
            }

        </script>
    
    {% else %}
        <script>
            window.location.href = '/'; 

        </script>
    {% endif %}
    
{% endblock %}