{% extends "base.html" %}

{% block title %}
    Room
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('test_app.static', filename= 'css/room.css') }}">
    <link rel="stylesheet" href="{{ url_for('test_app.static', filename= 'css/room_test_result.css') }}">
{% endblock %}
    
{% block content %}

    <div class="room-content" id="room-content">

    </div>
    
    <script src="{{ url_for('test_app.static', filename= 'js/add_user_block.js') }}"></script>
    <script src="{{ url_for('test_app.static', filename= 'js/render_waite_page.js') }}"></script>
    <script src="{{ url_for('test_app.static', filename= 'js/render_author_start.js') }}"></script>
    <script src="{{ url_for('test_app.static', filename= 'js/render_question.js') }}"></script>
    <script src="{{ url_for('test_app.static', filename= 'js/render_result_test.js') }}"></script>
    <script src="{{ url_for('test_app.static', filename= 'js/render_author_result_test.js') }}"></script>

    <script>

        let username = "{{ username }}"; 
        const room = "{{ test.test_code }}"; 
        
        if (!username) {
            username= getCookie("temporary_name")
            if (!username) {
                window.location.href = `/temporary_name${room}`;
            }
        }
        
        const socket= io({reconnection: true});

        const total_question = Number("{{ test.total_questions }}");
        const test_id = Number("{{ test.id }}");
        const author_name = "{{ test.author_name }}";

        const list_quiz = {{ list_quiz | tojson }};
        const list_answers = {{ list_answers | tojson }};
        
        let state = getCookie("state");
        let plusAnswerTime= 0;
        let timerPaused= getCookie("timeStop");
        let timerInterval= null;

        if (timerPaused === NaN){
            document.cookie = `timeStop=false; path=/;`;
            timerPaused= false
        }else if (timerPaused == 'true'){
            timerPaused= true
        }else if (timerPaused == 'false'){
            timerPaused= false
        } 

        // console.log(timerPaused, typeof(timerPaused))

        //window.addEventListener('beforeunload', function(){
        //    state = getCookie("state");
        //    if (state && state === "author_result_test") {
        //        document.cookie = `state= author_leave; max-age=3; path=/;`;
        //        document.cookie = `user_answers=; max-age=0; path=/;`;
        //        document.cookie = `countUsersAnswer=; max-age=0; path=/;`;
        //        document.cookie = `countCorrectAnswer=; max-age=0; path=/;`;
        //    }
        //    else if (state && state=== "result_test"){
        //        document.cookie = `state= user_leave; max-age=3; path=/;`;
        //        document.cookie = `user_answers=; max-age=0; path=/;`;
        //        document.cookie = `countUsersAnswer=; max-age=0; path=/;`;
        //        document.cookie = `temporary_name=; max-age=0; path=/;`;
        //    }
        //    
        //});

        if (state && state.includes("author_start")) {
            state= getCookie("state")
            let time= getCookie("time")
            renderAuthorStart(list_quiz[Number(state.slice(-1))], room, author_name, Number(state.slice(-1)), total_question);
        } 
        else if (state === "author_result_test") {
            renderAuthorResultTest(username, author_name, total_question);
        } 
        else if (state === "result_test") {
            renderResultTest(username, total_question, list_quiz, list_answers, test_id);
        } 
        else if (state && state=== "author_leave"){
            let currentURL = window.location.href;
            let roomCode = currentURL.split('room')[1]
            
            socket.emit("test_end", {
                room: roomCode
            });
            
            document.cookie = `state=; max-age=0; path=/;`;
            window.location.href = '/';  
        }
        else if (state && state=== "user_leave"){
            document.cookie = `state=; max-age=0; path=/;`;
            window.location.href = '/';  
        }
        else if (state && state.includes("question")) {
            let time= getCookie("time")
            renderQuestion(Number("{{ test.id }}"), list_quiz[Number(state.slice(-1))], list_answers[Number(state.slice(-1))], room, author_name);
        } 
        else if (state && state.includes("waite")) {
            renderWaiteQuestion();
        } 
        else {
            if (author_name === username){
                renderRoomMain(room, author_name, username, list_quiz);
    
                let messages= document.getElementById("messages");
                
                if (messages && messages.children.length != 1){
                    const emptyMessages= document.getElementById("no-messages");
                    if (emptyMessages){
                        emptyMessages.remove()
                    }
                }
            } else{
                renderWaiteQuestion();
            }
        }
 
        socket.on("connect", function () {     
            socket.emit("join", {
                room: room,
                username: username
            });
        
            if (username !== author_name && !state) {

                //createUserBlock(username, author_name, username, "waite")              
                console.log("Add in waite list")
                
                socket.emit("new_user_admin", {
                    room: room,
                    username: username,
                    author_name: author_name
                });
            }
        });

        socket.on("listening_to_messages", function(data) {
            let messages = document.getElementById("messages");

            if (messages != "") {
                messages.innerHTML += `<p class="other-msg">${data}</p>`;  
            };

            if (messages && messages.children.length != 1){
                const emptyMessages= document.getElementById("no-messages");
                if (emptyMessages){
                    emptyMessages.remove()
                }
            }
        });

        socket.on("author_receive_answer", function(data) {     
            let answer= data["answer"]           
            let countUsersAnswer= getCookie("countUsersAnswer");
            countUsersAnswer = Number(countUsersAnswer) + 1  
            document.cookie = `countUsersAnswer= ${countUsersAnswer}; path=/`;

            state = getCookie("state");    
            addUserAnswer(data["username"], answer, author_name, list_quiz[Number(state.slice(-1))]);
            
            socket.emit("get_room_size", {
                room: room,
                author_name: author_name
            });

        });

        socket.on("recieve_count_users", function(data) {  
            const COUNTUSERS= data['countUsers']
            let countUsersAnswer= getCookie("countUsersAnswer");
            
            state = getCookie("state");
        });

        socket.on("next_question", function(data) {  
            state = getCookie("state");
            document.cookie = `timeStop=false; path=/;`;
            timerPaused= false
            plusAnswerTime= 0
            
            checkAnswers();
            if (state != "author_result_test") {
                let number_of_question= Number(state.slice(-1));
                document.cookie= `time=${Number(list_quiz[number_of_question + 1].time)}; path=/`
                if (number_of_question != total_question - 1) {
                    document.cookie = `state= question${number_of_question + 1}; path=/`;
                    renderQuestion(Number("{{ test.id }}"), list_quiz[number_of_question + 1], list_answers[number_of_question + 1], room, author_name);
                }
                else {
                    socket.emit("stop_test", {
                        room: room,
                        author_name: author_name
                    });
                    
                    document.cookie = `state= author_result_test; path=/`;

                    renderAuthorResultTest(username, author_name, total_question);
                }
            }
        });

        socket.on("result_test", function(data) {      
            checkAnswers();

            renderResultTest(username, total_question, list_quiz, list_answers, test_id);

            userAnswers= getCookie("user_answers");

            socket.emit("user_answers", {
                    room: room,
                    username: username,
                    author_name: author_name,
                    user_answers: userAnswers
                });

            document.cookie = `state= result_test; path=/`;
        });

        socket.on("create_user_block", function(data) {  
            if (!state){    
                if (username === data){
                    renderRoomMain(room, author_name, username, list_quiz);
                }  
                createUserBlock(username, author_name, data, "not");
            }
        });

        socket.on("new_user_admin", function(data) {  
            if (!state){          
                createUserBlock(username, author_name, data, "waite");
            }
        });

        socket.on('kicked', function(data) {
            document.cookie = `temporary_name=; max-age=0; path=/;`;      
            window.location.href = '/'; 
        });

        socket.on('plus_time', function(data) {          
            const timerText= document.getElementById("timer")
            let plusTime= 15
            plusAnswerTime += 15
            if (timerText && timerText.textContent != "Час закінчений"){
                let curr_time= Number(getCookie('time'))
                timerText.textContent = parseInt(curr_time) + plusTime
                document.cookie = `time=${parseInt(curr_time) + plusTime}; path=/;`;
            }
        });

        socket.on('change_time', function(data) {          
            timerPaused= !timerPaused
            console.log(`${timerPaused} STATE TIMER`)
            document.cookie = `timeStop=${timerPaused}; path=/;`;
            const playBtn= document.getElementById("play-btn")

            if (playBtn){
                if (timerPaused){
                    playBtn.textContent= "Play"
                }
                else{
                    playBtn.textContent= "Stop"
                }
            }
        });

        socket.on('user_disconnected', function(data) {  
            
            let messages = document.getElementById("messages");
            if (messages) {
                messages.innerHTML += `<p class="other-msg">${data['msg']}</p>`;  
            }  

            if (messages && messages.children.length != 1){
                const emptyMessages= document.getElementById("no-messages");
                if (emptyMessages){
                    emptyMessages.remove()
                }
            }

            let removeUserBlock= document.getElementById(`${data['username']}`)

            if (removeUserBlock) {
                removeUserBlock.remove()
            }
        });

        socket.on('start_test', function(data) {   
            let stateCookies= getCookie("state")
            let state= stateCookies ? Number(stateCookies.slice(-1)) : 0;
            let messages = document.getElementById("messages");
            messages.innerHTML += `<p>Start ${data["room"]}</p>`;
            console.log(`COOKIES TIME ${list_quiz[state].time} ::: ${state}`)
            document.cookie= `time= ${list_quiz[0].time}; path=/`
            if (username === data["author_name"]) {          
                document.cookie = "state= author_start0; path=/";
                document.cookie = "countUsersAnswer= 0; path=/";
                document.cookie = `countCorrectAnswer= 0; path=/`;
                renderAuthorStart(list_quiz[0], room, author_name, state, total_question);
            }
            else {
                console.log("Тест начат");
                document.cookie = "state= question0; path=/";
                renderQuestion(Number("{{ test.id }}"), list_quiz[state], list_answers[state], room, author_name);

            }
        });

        function nextQuestion(){
            const nextButton = document.getElementById("next-q");
            plusAnswerTime= 0

            state = getCookie("state");
            let number_of_question= Number(state.slice(-1)) + 1;
            let countUsersAnswer= getCookie("countUsersAnswer");
            
            document.cookie = `timeStop=false; path=/;`;

            const userAnswers = document.getElementById("user-answers");
            userAnswers.innerHTML = ""

            const countAnswer = document.getElementById("count-answer-span");
            countAnswer.textContent= 0;
             
            document.cookie = `state= author_start${number_of_question}; path=/`;
            document.cookie = `countCorrectAnswer= 0; path=/`;

            if (number_of_question == total_question- 1) {
                nextButton.textContent = 'Кінець тесту'
                nextButton.removeEventListener("click", nextQuestion)
                nextButton.addEventListener("click", testStop);
            }

            document.cookie = `countUsersAnswer= 0; path=/`;
            
            console.log("Вопрос")
            console.log(number_of_question)
            const question_text = document.getElementById("author-question")
            question_text.textContent = `${list_quiz[number_of_question].question_text}`
        
            const correct_answer = document.getElementById("author-correct-answer")

            if (list_quiz[number_of_question].question_type == "multiple_choice"){
                correct_answer.textContent= `${list_quiz[number_of_question].correct_answer.replace("%$№", " та ")}`
            }
            else{
                correct_answer.textContent= `${list_quiz[number_of_question].correct_answer}`
            }
            
            document.cookie= `time=${Number(list_quiz[number_of_question].time)}; path=/`
            resetTimer(Number(list_quiz[number_of_question].time))

            const newTime = document.getElementById("timer")
            newTime.textContent =`${list_quiz[number_of_question].time}`

            timerPaused= false
            plusAnswerTime= 0
            
            if (donatChart){
                donatChart.destroy()
            }
    
            socket.emit("next_question", {
                room: room,
                author_name: author_name
            });
        }

        function sendMessage() {
            let msgInput = document.getElementById("msg");
            let messages = document.getElementById("messages");
            let message = msgInput.value;

            if (message != ""){
                let messages = document.getElementById("messages");

                messages.innerHTML += `<p class="my-msg">${username}: ${msgInput.value}</p>`;  

                if (messages && messages.children.length != 1){
                    const emptyMessages= document.getElementById("no-messages");
                    if (emptyMessages){
                        emptyMessages.remove()
                    }
                }

                socket.emit("message_to_chat", {
                    message: message,
                    room: room,         
                    username: username  
                });
            }
            msgInput.value = "";
        }

        function endTest() {
            let currentURL = window.location.href;
            let roomCode = currentURL.split('room')[1]

            socket.emit("end_test", {
                room: room,         
                username: username  
            });

            socket.emit("test_end", {
                room: roomCode
            });
            
            setTimeout(() => {
                window.location.href = '/'; 
            }, 200);
        }

        function testStop(){
            //console.log("stop test")
            
            socket.emit("stop_test", {
                room: room,
                author_name: author_name
            });

            document.cookie = `state= author_result_test; path=/`;
            //console.log(`Stop test ${getCookie("state")}`);
            

            console.log("test STOP AUTH RES")
            renderAuthorResultTest(username, author_name, total_question);
        }

        function checkAnswers(){
            state = getCookie("state");
            let answers = getCookie("user_answers")
            
            if (answers) {
                let answers_list = answers.split("|")
                let user_answers = []
                let user_answers_list = []
                for (let answer of answers_list){
                    if (answer != "|"){
                        user_answers.push(answer)
                    }
                }
                for (let answer of user_answers){
                    if (answer != ""){
                        user_answers_list.push(answer)
                    }
                }
                
                if (user_answers_list.length !== Number(state.slice(-1)) + 1) {
    
                    answers += "|not_answer|"
                    document.cookie = `user_answers= ${answers}; path=/`;
                }
            }
            else {
                document.cookie = `user_answers= |not_answer|; path=/`;
            }
        }

        function addUesrBlock(username, button){
            console.log(username)
            console.log("Neds del waite block and add normal block to all")

            const userBlock= button.closest(".user-block")
            if (userBlock){
                userBlock.remove()
            }
            
            socket.emit("new_user", {
                room: room,
                username: username,
                author_name: author_name
            });
        }

        function kickUser(kick_user) {
           
            socket.emit("kick_user", {
                room: room,
                user: kick_user
            });

            let removeUserBlock= document.getElementById(`${kick_user}`)

            if (removeUserBlock) {
                removeUserBlock.remove()
            }
        }

        function authorStartTest() {
            socket.emit("author_start_test", {
                room: room,
            });
        }

        </script>
    
{% endblock %}
