{% extends "base.html" %}

{% block title %}
    Temporary_name
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('test_app.static', filename='css/temporary_name.css') }}">
{% endblock %}

{% block content %}

    <script src="{{ url_for('test_app.static', filename= 'js/temp_name.js') }}"></script>

    <div>
        <form action="" method="POST">
            <input class="temp_button" type="text" name="temporary-name" placeholder="Enter your name to take the test" required>
            <button type="submit" class="temp_input">Next</button>
        </form>
    </div>

{% endblock %}