{% extends "base.html" %}

{% block title %}
    Temporary_name
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('test_app.static', filename='css/temporary_name.css') }}">
{% endblock %}

{% block content %}
    <div>
        <input class="temp_input" type="text" name="temporary-name" placeholder="Enter your name to take the test" required>
        <button type="button" class="temp_button" data-value="">Next</button>
    </div>

    <script>
        window.room = "{{ room }}";
    </script>
    <script src="{{ url_for('test_app.static', filename= 'js/temp_name.js') }}"></script>
{% endblock %}