*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
}

.wrapper{
    width: 100vw;
    height: 84vh;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.container{
    width: 25.26vw; /* 485px */
    background-color: rgba(255, 255, 255, 1);
    padding: 2.78vh; /* 30px */
    border-radius: 1.3vh; /* 14px */
    background-color: rgba(0, 0, 0, 0.8) 0px 4px 12px;
}

.title-section{
   margin-bottom: 2.78vh; /* 30px */
}

.title-section-1{
    margin-bottom: 0; 
}
 
.title-section h2{
    font-weight: 600;
}
 
.title{
    color: black;
    font-size: 1.3vw; /* 25px */
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 0.93vh; /* 10px */
}

.par{
    color: #484d54ce;
    font-size: 0.83vw; /* 16px */
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 1.85vh; /* 20px */
    line-height: 1.5;
}

.par-1{
    color: #484d54ce;
    font-size: 0.83vw; /* 16px */
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 1.39vh; /* 15px */
    line-height: 1.5;
}

.input-group{
    position: relative;
}

.input-group .label-title{
    color: #38475a;
    text-transform: capitalize;
    margin-bottom: 1.02vh; /* 11px */
    font-size: 0.73vw; /* 14px */
    display: block;
    font-weight: 500;
}

.input-email{
    width: 100%;
    background-color: none;
    color: #38475a;
    font-size: 0.83vw; /* 16px */
    font-weight: 300;
    border: 0.05vw solid #EAECF0; /* 1px */
    padding: 0.83vh 0.94vw 0.83vh 2.71vw; /* 9px 18px 9px 52px */
    outline: none;
    border-radius: 0.74vh; /* 8px */
    margin-bottom: 1.57vh; /* 17px */
}

.input-code{
    width: 100%;
    background-color: none;
    color: #38475a;
    font-size: 0.83vw;
    font-weight: 300;
    border: 0.05vw solid #EAECF0;
    padding: 0.83vh; /* 9px */
    outline: none;
    border-radius: 0.74vh;
    margin-bottom: 1.57vh;
}

.input-group input::placeholder{
    color: #484d54ce;
    font-size: 0.83vw;
    font-weight: 400;
}

.input-group input::placeholder::before{
    opacity: 0.30;
    color: red;
}

.input-group .icon{
    position: absolute;
    align-items: center;
    color: #38475a;
    left: 0.68vw; /* 13px */
    top: calc(50% - 1.11vh); /* 12px */
    text-align: center;
    font-size: 1.2vw; /* 23px */
}

.submit-btn{
    width: 100%;
    background-color: rgb(29, 36, 27);
    border: 0.05vw solid transparent;
    color: #fff;
    font-size: 0.83vw; /* 16px */
    font-weight: 500;
    padding: 1.2vh 1.25vw; /* 13px 24px */
    border-radius: 0.74vh; /* 8px */
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
}

.submit-btn:hover{
    opacity: 0.90;
}
