:root {
    --black: #1A1A1A;
    --dark_grey: #3C3636;
    --grey: #666666;
    --header_color: #F2F2F2;
    --sign_up_green: #8DBD84;
    --lite_green: hwb(120 82% 11% / 0.877);
    --green: hsla(134, 19%, 54%, 0.514);
    --dark_green: #61855A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
 
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--lite_green);
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}


header{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.229); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    
    width: 100vw;
    position: relative;
    height: 8vh;
}
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    /* padding: 12px 24px; */
    background-color: white;
    border: none;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 8vw;
    height: 6vh;
    /* min-width: 190px;
    min-height: 42px; */
}
  
.logo img {
    width: 100%;
    height: 100%;
}

.nav-links {
    display: flex;
    gap: 3vw;
}
  
.nav-links a {
    text-decoration: none;
    color: #333;
    /* font-size: 2vh; */
    font-weight: 500;
    position: relative;
}
  
.nav-links a:hover {
    color: #000;
}

.nav-links a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.1vh;
    width: 0;
    background-color: black;
    transition: width 0.25s ease;
}

.nav-links a:hover::before {
    width: 100%;
    right: 0;
    left: auto;
}

.active{
    text-decoration: underline !important;
    text-decoration-color: #333;
    text-decoration-style: dotted;
    text-underline-offset: 0.3vh;
    text-decoration-thickness: 5px;
}

.auth-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    gap: 1.5vw;
}

.auth-buttons a {
    margin-right: 3.5vw;
    text-decoration: none;
    color: black;
    /* font-size: 1.3vh;  */
}

.auth-buttons a:first-of-type {
    background-color:#8DBD84;
    border-radius: 6px;
    padding: 0.9vh 1.3vw;
    margin: 0;
}

.auth-buttons a:last-of-type {
    border: 2px solid #8DBD84;
    border-radius: 7px;
    padding: 0.8vh 1.3vw;
    margin: 0;
}

.username {
    font-size: 1.7vh;
    color: black;
    border: 0.35vh solid var(--sign_up_green); /* зелёная рамка */
    border-radius: 1vh;
    padding: 0.7vh 1.3vw;
}

.logout {
    border: 0.35vh solid var(--sign_up_green);
    background-color: transparent;
    border-radius: 1vh;
    padding: 0.7vh 1.3vw;
    font-size: 1.7vh;
    cursor: pointer;
    color: black;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #414D42;
    width: 100vw;
    height: 8vh;

    padding: 2vh;

    color: white;
    text-align: center;
}

footer .footer-text {
    font-size: 2.5vh;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 2vh;
    margin: 0 0.5vw;
}

.logo-btn-hidden{
    background: transparent;
    border: none;
}


::-webkit-scrollbar {
    width: 1vw;
    height: 1vh; 
}

::-webkit-scrollbar-thumb {
    background-color: var(--green-light);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: #eef6ee;
}
