:root {
    --black: #1A1A1A;
    --dark_grey: #3C3636;
    --grey: #666666;
    --header_color: #F2F2F2;
    --sign_up_green: #8DBD84;
    --lite_green: hwb(120 82% 11% / 0.877);
    --green: hsla(134, 19%, 54%, 0.514);
    --dark_green: #61855A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 10px !important; /* БЛОКУЄ зменшення/збільшення тексту */
}

 
body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--lite_green);
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

header{
    box-shadow: 0px 0.5vw 1vh rgba(0, 0, 0, 0.229); 
    border-bottom: 0.4vh solid rgba(0, 0, 0, 0.1); 
    
    width: 100%;
    position: relative;
    height: 8vh;
}
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
    background-color: white;
    border: none;

    width: 100%;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 7vw;
    height: 5vh;
}
  
.logo img {
    height: 100%;
}

.nav-links {
    display: flex;
    gap: 3vw;
}
  
.nav-links a {
    text-decoration: none;
    color: #333;
    /* font-size: 2vh; */
    font-weight: 500;
    font-size: 2.4vh;
    position: relative;
}
  
.nav-links a:hover {
    color: #000;
}

.nav-links a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.1vh;
    width: 0;
    background-color: black;
    transition: width 0.25s ease;
}

.nav-links a:hover::before {
    width: 100%;
    right: 0;
    left: auto;
}

.active{
    text-decoration: underline !important;
    text-decoration-color: #333;
    text-decoration-style: dotted;
    text-underline-offset: 0.4vh;
    text-decoration-thickness: 0.4vh;
}

.auth-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    gap: 1.5vw;
}

.auth-buttons a {
    margin-right: 3.5vw;
    text-decoration: none;
    color: black;
    font-size: 1.5vh; 
}

.auth-buttons a:first-of-type {
    background-color:#8DBD84;
    border-radius: 1vh;
    padding: 0.9vh 1.3vw;
    margin: 0;
}

.auth-buttons a:last-of-type {
    border: 0.3vh solid #8DBD84;
    border-radius: 1vh;
    padding: 0.8vh 1.3vw;
    margin: 0;
}

.username {
    font-size: 1.6vh;
    color: black;
    border:  0.3vh solid var(--sign_up_green); /* зелёная рамка */
    border-radius: 1vh;
    padding: 0.7vh 1.3vw;
}

.logout {
    border:  0.3vh solid var(--sign_up_green);
    background-color: transparent;
    border-radius: 1vh;
    padding: 0.7vh 1.3vw;
    font-size: 1.6vh;
    cursor: pointer;
    color: black;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #414D42;
    width: 100%;
    height: 8vh;

    padding: 1.5vh;
    overflow: hidden;

    color: white;
    text-align: center;
}

.footer-text {
    font-size: 2vh;
}

.social-media {
    width: fit-content;
    height: 2vh;
}

.social-media a i{
    width: fit-content;
    max-height: 2vh;
    /* color: white;
    text-decoration: none;
    font-size: 2vh;
    max-height: 1.5vh; */
}

.logo-btn-hidden{
    background: transparent;
    border: none;
}

::-webkit-scrollbar {
    width: 1vw;
    height: 1vh; 
}

::-webkit-scrollbar-thumb {
    background-color: var(--green-light);
    border-radius: 0.5vh;
}

::-webkit-scrollbar-track {
    background-color: #eef6ee;
}
