:root {
    --green-main: rgb(69, 154, 72);
    --green-light: #a5d6a7;
    --green-second: #66bb6a;
    --shadow: rgba(0, 0, 0, 0.2);
}


html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /* min-height: 84vh; */
    /* height: inherit; */
}

.about-questy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    background-color: rgba(115, 159, 125, 0.51);
    width: 95vw;
    height: 38vh;
    min-height: fit-content;
    border-radius: 5px; 
    box-shadow: 2px 5px 2px #080a082c;
    
    /* margin-left: 25px; */
    padding: 25px;
    overflow: hidden;
    margin-top: 20px;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    width: 330px;
    height: 100%;

    color: 	#3C3636;
    padding: 1px;
    overflow: hidden;
}

.text-d{
    padding-top: 5px;
}

.start-t{
    font-size: 44px;
}

.enter-code {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px 0;
}

.search-input {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* gap: 10px; */
    width: 100%;
}
  
.search-input input {
    width: 100%;
    padding: 10px 14px 10px 36px;
    border: 2px solid var(--green-light);
    border-radius: 6px;
    font-size: 16px;
    background: #f9fff8;
    color: #2f3b32;
    transition: 0.3s ease;

    margin-left: 10px;
}

.search-input input:focus {
    outline: none;
    border-color: var(--green-main);
    box-shadow: 0 0 6px rgba(69, 154, 72, 0.4);
}

/* Кнопка */
.search-btn {
    background-color: var(--green-main);
    border-radius: 6px;
    padding: 10px 16px;
    margin: 5px 0;
    color: white;
    font-size: 15px; 
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.search-btn:hover {
    background-color: var(--green-second);
}


.schedule-img{
    width: 500px;
    height: 90%;
}

.aval-t{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 95%;
}

hr {
    width: 94%;
    height: 3.5px;
    background-color:rgba(117, 112, 112, 1);
    border-radius: 10px;
    margin: 20px;
}

.tests{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    /* flex-wrap: wrap; */

    gap: 30px;

    width: 100%;
    height: auto;
    /* height: 37vh; */
    border-radius: 5px; 
    padding: 25px 40px;

    /* padding: 50px 0 50px 0; */
    
    overflow-x: scroll;
    scroll-behavior: smooth;
    overflow: hidden;
    scrollbar-color: black;
    scrollbar-width: thin;
    
}

.tests::-webkit-scrollbar {
    height: 8px;
    display: block !important;
}

.tests::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
}

.av-t{
    margin-left: 25px;
    font-size: 28px;
    color: #3C3636;
    text-align: left;
}

.test-card {
    display: block; 
    width: 13vw;
    height: 27vh;
    min-width: 350px;
    min-height: 400px;
    border-radius: 15px;
    overflow: hidden;
    flex-shrink: 0;

    text-decoration: none;  
    color: white;

    background: #5e6f5f;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}
  
.test-card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
  

.test-image {
    background-size: cover;
    background-position: center;
    height: 130px;
}

.test-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.test-questions {
  background: #374a39;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;

  width: 85px;
  text-align: center;

}

.test-title {
  font-size: 20px;
  color: #ffffff;
}

.test-description {
  font-size: 14px;
  color: #e0e0e0;
}

.test-accuracy {
  background: #374a39;
  padding: 6px 12px;
  border-radius: 999px;
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
}


.test-img{
    border-radius: 10px;
    border: 1px solid #ccc;
}



/*  */
