.result-block-for-question{
    background-color: rgb(120, 201, 155);
    border: 1px solid rgb(98, 158, 124);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
}