:root {
    --green-main: #4CAF50;
    --green-dark: #3e8641;
    --green-light: #aad8af;
    --bg-light: #f9fdf9;
    --bg-aside: #f0f7f0;
    --text-dark: #454343;
    --shadow: rgba(0, 0, 0, 0.08);
}

.edit-question-form {
    background-color: var(--bg-light);
    margin: 6vh auto;
    padding: 4vh;
    border-radius: 3.2vh;
    box-shadow: 0 1.6vh 4vh var(--shadow);
    max-width: 60vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    border: 0.2vh solid var(--green-light);
}

.edit-question-form h1 {
    font-size: 7vh;
    margin-bottom: 3.2vh;
    text-align: center;
    color: var(--text-dark);
}

.edit-question-form input[type="text"] {
    padding: 2vh 2.8vh;
    font-size: 3.2vh;
    border: 0.2vh solid #ccc;
    border-radius: 1.6vh;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    transition: all 0.25s ease;
    margin: 2vh 0;
}

.edit-question-form input[type="text"]:focus {
    border-color: var(--green-main);
    box-shadow: 0 0 1.2vh var(--green-light);
    outline: none;
}

.edit-question-form button[type="submit"] {
    align-self: center;
    margin-top: 3.2vh;
    padding: 2.4vh 6.4vh;
    background-color: var(--green-main);
    color: white;
    border: none;
    border-radius: 14vh;
    font-size: 3.2vh;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.edit-question-form button[type="submit"]:hover {
    background-color: var(--green-dark);
    transform: scale(1.00);
}
