:root {
    --green-main: #4CAF50;
    --green-dark: #3e8641;
    --green-light: #aad8af;
    --bg-light: #f9fdf9;
    --text-dark: #454343;
    --shadow: rgba(0, 0, 0, 0.08);
}

.edit-question-form {
    width: 42vw;
    min-width: 480px;
    margin: 6vh auto;

    background-color: var(--bg-light);
    border: 0.2vh solid var(--green-light);
    border-radius: 3vh;               
    box-shadow: 0 1.4vh 3vh var(--shadow);

    padding: 4vh 3vw;
}

.edit-form {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.edit-form h1 {
    font-size: 3.8vh;
    font-weight: 600;
    text-align: center;
    color: var(--text-dark);
    margin-bottom: 1.6vh;
}

.input-group input[type="text"] {
    width: 100%;
    padding: 1.8vh 1.6vw;

    font-size: 2.6vh;
    color: var(--text-dark);

    background-color: #ffffff;
    border: 0.2vh solid #cfd8cf;
    border-radius: 1.4vh;

    transition: border-color 0.2s ease;
}

.input-group input[type="text"]::placeholder {
    color: #9aa3a0;
}

.input-group input[type="text"]:focus {
    border-color: var(--green-main);
    outline: none;
}

.edit-btn {
    margin-top: 2.4vh;
    padding: 1.8vh 0;

    width: 100%;

    background-color: var(--green-main);
    color: #ffffff;

    border: none;
    border-radius:1.2vh;
    font-size: 2.6vh;
    font-weight: 600;

    cursor: pointer;
    transition: background-color 0.25s ease;
}

.edit-btn:hover {
    background-color: var(--green-dark);
}
