:root {
    --green-main: #4CAF50;
    --green-dark: #3e8641;
    --green-light: #aad8af;
    --bg-light: #f9fdf9;
    --bg-aside: #f0f7f0;
    --text-dark: #2f2f2f;
    --shadow: rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    /* background-color: var(--bg-light); */
    background-color: hwb(120 82% 11% / 0.877);
    color: var(--text-dark);
}

main {
    display: flex;
    height: inherit;
}

.container {
    max-width: 40wv;
    margin: auto;
}

.test-header {
    display: flex;
    justify-content: space-between;

    background-color: var(--bg-aside);
    border: 0.1vh solid var(--green-light);

    border-radius: 1vh;
    margin-top: 1.5vh;
    padding: 2vh;
    margin-bottom: 2vh;
    box-shadow: 0 0.2vh 0.4vh var(--shadow);
}

.test-details {
    flex-grow: 0.1vh;
}
.test-title {
    font-size: 2vh;
    padding-right: 2vh;
    font-weight: bold;
    margin-bottom: 0.8vh;
}
.test-description {
    font-size: 1.4vh;
    color: #555;
    margin-bottom: 1vh;
}
.edit-btn {
    background-color: white;
    color: var(--green-dark);
    border: 0.1vh solid var(--green-main);
    border-radius: 0.6vh;
    padding: 0.6vh 1.2vh;
    font-size: 1.4vh;
    cursor: pointer;
    height: fit-content;
}

.meta-info{
    font-size: 2vh;
}

.edit-btn a{
    all: unset;
}

.edit-btn:hover {
    background-color: var(--green-light);
}
.question-block {
    background-color: white;
    border: 0.1vh solid var(--green-light);
    border-radius: 1vh;
    padding: 2vh;
    margin-bottom: 2vh;
    box-shadow: 0 0.2vh 0.4vh var(--shadow);
}
.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6vh;
    font-weight: bold;
    margin-bottom: 1vh;
}
.question-text {
    margin-bottom: 1.5vh;
    font-size: 1.5vh;
}
.answer {
    padding: 1vh 1.5vh;
    border-radius: 0.8vh;
    margin-bottom: 1vh;
    font-size: 1.5vh;
    border-left: 0.5vh solid transparent;
}
.correct {
    background-color: var(--green-light);
    border-left-color: var(--green-main);
}
.incorrect {
    background-color: #ffe6e6;
    border-left-color: rgb(238, 72, 72);
}


.delete_quiz {
    background-color: white;
    color: rgb(233, 96, 96);
    font-weight: 600;
    border: none;
    border-radius: 0.6vh;
    padding-bottom: 0.5vh;
    font-size: 1.4vh;
    cursor: pointer;
    height: fit-content;
}