:root {
    --green-main: #4CAF50;
    --green-dark: #3e8641;
    --green-light: #aad8af;
    --bg-light: #f9fdf9;
    --bg-aside: #f0f7f0;
    --text-dark: #454343;
    --shadow: rgba(0, 0, 0, 0.08);
}

.edit-question-form {
    background-color: var(--bg-light);
    /* background-color: hwb(120 82% 11% / 0.877); */
    margin: 4.5vh;
    padding: 3vh;
    border-radius: 2.4vh;
    box-shadow: 0 1.2vh 3vh var(--shadow);
    max-width: 65vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5vh;
    border: 0.15vh solid var(--green-light);
}

.message-1{
    display: none;
}

.line{
    border-radius: 1.5vh;
    border: 0.15vh solid var(--green-light);
    margin: 0.75vh;
    /* width: 90%; */
}

h1 {
    font-size: 5.2vh;
    margin-bottom: 1.2vh;
    text-align: center;
    color: #555;;
}

h2 {
    font-size: 4.8vh;
    margin-bottom: 1.2vh;
    text-align: center;
    color: #333;;
}

.correct-answer-p {
    margin: 0;
    font-size: 2.4vh;
    font-weight: 45wh;
    text-transform: capitalize;
    border: 0.15vh solid #ccc;
    border-radius: 1.2vh;

    background-color: #e6f4e9; 
    padding: 1.8vh 2.4vh;
    border-left: 0.75vh solid var(--green-main);
    border-radius: 0.9vh;
    color: var(--text-dark);
}

.correct-answer-p:focus {
    border-color: var(--green-main);
    box-shadow: 0 0 0.9vh var(--green-light);
    outline: none;
}

.incorrect-answer-p{
    margin: 0;
    font-size: 2.4vh;
    font-weight: 45wh;
    text-transform: capitalize;
    border: 0.15vh solid #ccc;
    border-radius: 1.2vh;

    background-color: #f4e6e6; 
    padding: 1.8vh 2.4vh;
    border-left: 0.75vh solid rgb(228, 140, 140);
    border-radius: 0.9vh;
    color: var(--text-dark);
}

.incorrect-answer-p:focus {
    border-color: rgb(228, 140, 140);
    box-shadow: 0 0 0.9vh rgb(228, 140, 140);
    outline: none;
}




/* input[type="text"] {
    padding: 0.65rem 0.9rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    transition: all 0.25s ease;

    width: 100%;
} */


/* input[type="text"]:focus {
    border-color: var(--green-main);
    box-shadow: 0 0 6px var(--green-light);
    outline: none;
} */

button[type="submit"] {
    align-self: center;
    margin-top: 2.4vh;
    padding: 1.8vh 4.8vh;
    background-color: var(--green-main);
    color: white;
    border: none;
    border-radius: 75vw;
    font-size: 2.4vh;
    font-weight: 45wh;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button[type="submit"]:hover {
    background-color: var(--green-dark);
    transform: scale(1.03);
}
