:root {
    --green-main: #4CAF50;
    --green-dark: #3e8641;
    --green-light: #aad8af;
    --bg-light: #f9fdf9;
    --bg-aside: #f0f7f0;
    --text-dark: #2f2f2f;
    --shadow: rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-light);
    color: var(--text-dark);
}

main {
    display: flex;
    height: inherit;
    flex-direction: column;
}

.container {
    max-width: 800px;
    margin: auto;
    width: 800px;
}

.test-header {
    display: flex;
    justify-content: space-between;

    background-color: var(--bg-aside);
    border: 1px solid var(--green-light);

    border-radius: 10px;
    margin-top: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px var(--shadow);
}

.test-details {
    flex-grow: 1;
}
.test-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}
.test-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}
.edit-btn {
    background-color: white;
    color: var(--green-dark);
    border: 1px solid var(--green-main);
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    height: fit-content;
}

.edit-btn a{
     all: unset;
}

.edit-btn:hover {
    background-color: var(--green-light);
}
.question-block, .result-info {
    background-color: white;
    border: 1px solid var(--green-light);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px var(--shadow);

    width: 800px;
}
.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.question-text {
    margin-bottom: 15px;
}
.answer{
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 15px;
    border-left: 5px solid transparent;
}
.correct {
    background-color: var(--green-light);
    border-left-color: var(--green-main);
}
.incorrect {
    background-color: #ffe6e6;
    border-left-color: rgb(238, 72, 72);
}

.user_answers {
    background-color:rgba(255, 224, 130, 1.00);
    border-left-color: rgb(244, 190, 28);
}

.result-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    height: auto;    
}

.home-btn{
    font-size: 15px;
    text-decoration: none;
    color: white;
    
    font-weight: 600;
    background-color: #555;
    border-radius: 5px;
    margin: 10px 0;    
    width: 100px;
    height: 20px;
    border: none;
}


.auth-block{
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 16px;
    padding: 24px;
    max-width: 400px;

    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.auth-block p{
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.auth-btn{
    display: inline-block;
    background-color: rgb(84, 179, 99);
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 600;
    transition: background-color 0.3 ease, transform 0.2 ease;
}

.auth-btn:hover{
    background-color: #3730a3;
    transform: scale(1.0);

}

.user-information{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.user-information div{
    height: 100%;
    width: 100%;
}
