/* --- Контент --- */
.content {
    flex: 1;
    padding: 1vw;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    flex-wrap: nowrap; 
    align-items: flex-start;
    justify-items: flex-start;

    width: calc(100vw - 260px);
    height: 100%;

    transition: width 0.4s ease;
}

.full-content {
    width: 95vw ;
}

.class-div h2{
    font-size: 4.5vh;
    margin-bottom: 1.5vh;
}

.course-name {
    margin-top: 1.8vh;
    margin-bottom: 1.5vh;
    font-size: 3vh;
    font-weight: 700;
    color: #3c3c3c;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.05);
}

.class-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    gap: 2vw;
}

.card {
    /* min-width: 300px;
    min-height: 290px; */
    width: 22vw;
    height: 32vh;
    background: #fff;
    border-radius: 1.2vh;
    box-shadow: 0 0.4vh 1vw rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    flex-shrink: 0;

    display: flex;           
    flex-direction: column;  
    justify-content: space-between;
    align-items: stretch;
    cursor: pointer;
    gap: 0.6vw;

}

.card:hover {
    /* transform: translateY(-1px); */
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.card-header {
    /* background: linear-gradient(135deg, #66bb6a, #43a047); */
    color: #fff;
    padding: 0.9vw;
    font-size: 1.8vh;
    font-weight: 600;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5vw;
}

.new-task-count {
    width: 1vw;
    height: 1vw;

    min-width: 20px;
    min-height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: red;
    color: white;
    font-weight: 700;
    font-size: 1.2vh;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    z-index: 10;

}

.card-info {
    display: flex;
    flex-direction: column;
}

.left-info{
    display: flex;
    flex-direction: row;
}

.left-info span{
    margin-left: 1vw;
}

.h-left-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.4vw;
}

.more-class-actions{
    background: none;
    border: none;
    color: #fff;
    font-size: 2vh;
    cursor: pointer;
    padding: 0 0.5vw;
}



.card-header span {
    font-weight: 500;
    display: flex;
    flex-direction: row;
    font-size: 1.5vh;   
    color: rgb(242, 239, 239); 
    /* font-style: italic; */
}

.card-footer {
    background: #fcfcfc;
    padding: 1vh;
    text-align: center;
    border-top: 0.4vh solid #ccc;

    display: flex;
    justify-content: right;
    align-items: center;
}

.card-footer a :last-child{
    margin-left: 0.5vw;
}

.start-btn{
    /* background: linear-gradient(135deg, #66bb9f, #4393a0); */
    background: #979595;
    border: none;
    color: #fff;
    font-size: 1.8vh;
    font-weight: 600;
    padding: 0.8vh 0.8vw;
    border-radius: 1vh;
    cursor: pointer;
    transition: 0.3s ease;
}

.start-btn:hover {
    transition: 0.5s ease;
    filter: brightness(92%);
    /* background: linear-gradient(135deg, #5ba88e, #387c87); */
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.card-body {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1vw;
}


.card-body li{
    padding: 0.2vw;
    border-radius: 0.8vh;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.card-body li:hover {
    background: #e6eae6;
    transition: 0.3s ease;
}

.card-body li span.done{
    color: rgb(18, 107, 18);
    font-style: italic;
}

.card-body li span.to-do{
    color: rgb(71, 81, 71);
    font-style: italic;
}

.card-body li span.not-done{
    color: rgb(89, 64, 64);
    font-style: italic;
}

/*  */

.container-classroom {
    display: flex;
    /* min-height: 100vh; */
}

/* btn + */
.add-btn {
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    background-color: #4caf50;
    color: #fff;
    font-size: 4vh;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5vw 1vh rgba(0,0,0,0.2);
}

/* menu */
.menu-options {
    position: fixed;
    bottom: 7vh;
    right: 6vw;
    background-color: #fff;
    border-radius: 1.2vh;
    box-shadow: 0 0.4vh 1.2vw rgba(0,0,0,0.2);
    overflow: hidden;
    display: none;
    flex-direction: column;

    padding-left: 0;
    margin-bottom: 0;
}

.menu-options li {
    list-style: none;
    padding: 1.3vh 1.5vw;
    cursor: pointer;
    transition: 0.2s;
}

.menu-options li:hover {
    background-color: #f1f1f1;
}

/* modal form */
.modal-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal {
    background-color: #fff;
    padding: 2vw;
    border-radius: 1.3vh;
    height: fit-content;
    width: 35vw;
    /* min-width: fit-content; */
    animation: popIn 0.3s ease-in-out;
    position: relative;
}

.modal h2 {
    margin-top: 0;
    font-size: 4.5vh;
    margin-bottom: 1.5vh;
}

.form-group {
    margin: 0;
}

.form-group h3 {
    margin-top: 0;
    font-size: 3vh;
    margin-bottom: 1.5vh;
    font-weight: normal;
    color: #555;
}

.form-group ul {
    font-size: 2vh;
    padding-left: 2vw;
    margin: 1vh 0 1.5vh 0;
    color: #555;
}

.form-group ul li {
    font-size: 2vh;
    margin-bottom: 1.5vh;
    line-height: 1.4;
}

.form-group label {
    font-size: 3vh;
}

.form-group input, select{
    width: 20vw;
    height: 5vh;
    border-radius: 1vh;
    margin: 0;
    padding: 0;
}

.form-group input::placeholder{
    font-size: 1.5vh;
}

.modal .form-group {
    margin-bottom: 0.6vh;
}

.modal label {
    display: block;
    margin-bottom: 0.6vh;
    /* font-weight: bold; */
}

.modal input[type="text"],
.modal input[type="number"],
.modal textarea,
.modal select {
    width: 100%;
    padding: 12px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0 0 10px 0;
}

.modal select {
    margin-right: 20px;
}

/* SELECT */
.modal select {
    width: 100%;
    padding: 12px 40px 12px 12px; 
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0 0 10px 0;
    background-color: #fff;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23666' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center; 
    background-size: 20px;
}

.modal select option {
    padding: 10px;
    font-weight: 500;
}

.color-group {
    display: flex;
    gap: 1vw;
    align-items: center;
    margin-bottom: 1vw;
}

.color-group input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0.4vh solid #ccc;
    width: 4vw;
    height: 5vh;
    border-radius: 0.6vh; 
    cursor: pointer;
    padding: 0;
    background: none;

    margin: 0 0 1vh 0;
}

.color-group input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 6px;
}
.color-group input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 6px;
}  /*  */

/* BUTTON */
.modal button {
    border: none;
    border-radius: 1vh;
    background-color: #3a7c3c;
    color: #fff;
    cursor: pointer;
    font-size: 2vh;
    transition: background 0.3s;
}

.modal button:hover {
    background-color: #45a049;
}

.join-course-btn{
    font-size: 2.5vh;
    padding: 1vh 2vw;
    width: fit-content;
    height: 5vh;
}

.back-btn {
    padding: 1vh 0.8vw;
    position: absolute;
    top: 1vh;
    right: 1vh;
    border: none;
    background: none;
    font-size: 4vh;
    border-radius: 0.8vh;
    cursor: pointer;
    color: #888;
}

.back-btn:hover {
    color: #333;
}

@keyframes popIn {
    from {transform: scale(0.8); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}

.color-group {
    display: flex;
    gap: 1vh;
    align-items: center;
}

.color-group input[type="color"] {
    width: 4vw;
    height: 5vh;
    padding: 0;
    border: none;
}


/* class actions*/
.class-actions {
    position: relative;
    display: inline-block;
}

.more-class-actions {
    color: white;
    background: transparent;
    border: none;
    font-size: 3vh;
    cursor: pointer;
    padding: 0.5vh 1vw;
    border-radius: 0.8vh;
    transition: background 0.2s ease;
}

.more-class-actions:hover {
    background: rgba(0,0,0,0.05);
}

/* Випадаюче меню */
.dropdown {
    display: none;
    position: absolute;
    right: 1vw;
    top: 1vh;
    background: white;
    border: 0.4vh solid #ddd;
    border-radius: 0.6vh;
    box-shadow: 0 0.5vh 1vw rgba(0,0,0,0.15);
    min-width: 10vw;
    /* padding: 8px 0; */
    z-index: 100;
}

/* Кнопки всередині */
.dropdown-btn {
    display: block;
    width: 100%;
    padding: 1vh 1vw;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2vh;
    color: var(--dark_grey);
    text-decoration: none;
    transition: background 0.2s ease, color 0.2s ease;
}

.dropdown-btn:hover {
    background: var(--lite_green);
    color: var(--black);
    transition: background 0.2s ease, color 0.2s ease;
    /* border-radius: 10px 10px 0 0 ; */
}

.dropdown-btn.d:hover {
    border-radius: 0.3vh 0.3vh 0 0 ;
    /* border: 1px solid black; */
}

.dropdown-btn.i:hover:last-child {
    border-radius: 0 0 0.3vh 0.3vh ;
    /* border: 1px solid red; */
}

.class-actions.show .dropdown {
    display: block;
}

/*  */

li {
    margin-bottom: 1vh;
    font-size: 1.8vh;
    display: flex;         
}
.due-time-p {
    font-size: 2vh;
    color: #8e8282;
    font-style: italic;
    margin-left: 1vw; 
}
